.func{
	background: url(https://res.cloudinary.com/buituan/image/upload/v1564332930/Pl-Soft/Feature-Rootstock.jpg) center center;
	background-size: cover;
	color: white;
}
.func h1{
	font-size: 2em;
	background-color: #000000b3;
	padding-top: 2%;
	padding-bottom: 2%;
	text-decoration: underline;
}
.func>p{
	background-color: #000000b3;
	font-size: 1.5em;
	padding-bottom: 2%;
}
.func>ol{
	background-color: #000000b3;
	text-align: left;
	padding-left: 30%;
	padding-bottom: 2%;
	list-style-type: decimal;
}
.func>ol p{
	font-size: 1em;
	padding-bottom: 1%;
}
.comming-func{
	font-size: 1.5em;
	font-weight: bold;
	color: black;
	background-color: white;
	padding: 1% 0%;
	text-decoration: underline;
}
@media screen and (max-width: 560px) {
	.func h1{
		font-size: 1.5em;
	}
	.func>p{
		font-size: 1em;
		padding: 0px 10% 2% 10%;
	}
	.func>ol{
		padding-right: 10%;
	}
	.comming-func{
		font-size: 1em;
	}
}