.product{
	background: url(https://res.cloudinary.com/buituan/image/upload/v1563981486/Pl-Soft/screen_2x_1.jpg) center center;
	background-size: cover;
	text-align: center;
	color: white;
	padding: 2% 0px 2% 0px;
}
.product>h1{
	font-size: 2em;
	text-decoration: underline;
	margin-bottom: 2%;
}
.product>p{
	font-size: 1.5em;
	margin-bottom: 2%;
}
@media screen and (max-width: 480px) {
	.product>h1{
		font-size: 1.5em;
	}
	.product>p{
		font-size: 1em;
	}
}
.product-content{
	border: 1px solid var(--blackColor);
	box-shadow: 2px 2px 10px;
	display: grid;
	margin: 0px 30%;
	padding: 2%;
	grid-template-columns: repeat(2, minmax(40%, 1fr));
	color: black;
	background-color: white;
}
.product-content>h1{
	font-size: 1.25em;
	font-weight: bold;
}
.product-content>p{
	font-size: 1em;
}
.comming-product{
	font-size: 1.5em;
	font-weight: bold;
	color: black;
	background-color: white;
	padding: 1% 0%;
	text-decoration: underline;
}
@media screen and (max-width: 480px) {
	.product-content{
		margin: 0px 10%;
		/*padding: 1%;*/
	}
	.product-content>h1{
		font-size: 1.15em;
	}
}