.visual{
	padding: 0px;
	padding-top: 2%;
}
.visual-title{
	background: url(https://res.cloudinary.com/buituan/image/upload/v1563981162/Pl-Soft/economybanner.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 0px;
}
.visual-title p{
	background-color: #00000085;
	font-style: italic;
}
.visual-title p:nth-child(1){
	color: white;
	font-size: 4em;
	font-weight: bold;
	padding-top: 10%;
	padding-bottom: 2%;
}
.visual-title p:nth-child(2){
	color: white;
	font-size: 2em;
	padding-bottom: 5%;
}
@media screen and (max-width: 768px) {
	.visual-title p:nth-child(1){
		font-size: 2em;
		padding-top: 20%;
	}
	.visual-title p:nth-child(2){
		font-size: 1em;
	}
}
